click==8.0.3
colorama==0.4.4
Flask==2.0.2
gunicorn==20.1.0
imageio==2.13.5
importlib-metadata==4.10.0
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
networkx==2.6.3
numpy==1.21.5
opencv-python==3.4.13.47
packaging==21.3
Pillow==9.0.0
pyparsing==3.0.6
PyWavelets==1.2.0
scikit-image==0.19.1
scipy==1.7.3
tifffile==2021.11.2
typing-extensions==4.0.1
Werkzeug==2.0.2
zipp==3.7.0
